<!DOCTYPE html>
<html>

<head>


    <link rel="stylesheet" href="/static/assets/css/dp19styles.css">

    <script src="/static/libs/p5.min.js"></script>
    <script src="/static/libs/three.min.js"></script>
    <script src="/static/libs/OrbitControls.js"></script>
    <script src="/static/libs/OBJLoader.js"></script>
    <script src="/static/libs/MTLLoader.js"></script>

</head>

<body>
    <div id="header">
        <table width=1220px>
            <tr>
                <td style="text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:32px; font-weight:bold"
                    width=80%> &nbsp My Project </td>
                <td width=5%> <a href="/"><img src="\static\assets\img\home.png"></a> </td>
                <td width=5%> <a href="/draw"><img src="\static\assets\img\draw.png"></a></td>
                <td width=5%> <a href="/help"><img src="\static\assets\img\help.png"></a> </td>
                <td width=5%> <a href="/retrieve"><img src="\static\assets\img\retrieve.png"></a></td>
            </tr>
        </table>

    </div>

    <div id="containter" style="margin-top:2%">
        {{{body}}}
    </div>
</body>

</html>